__pycache__/
venv/
.venv/
.venv310/
.env
.DS_Store
*.pyc
.idea/
*.iml
*.log
data/*
!data/metadata/**
!data/features/.gitkeep
!data/raw/.gitkeep
!data/segmented/.gitkeep
!data/splits/.gitkeep
!data/standardized/.gitkeep
._*
notebooks/data/*
fix_matplotlib_bug.py
docs/img/*